#heroPets{
    background: linear-gradient(112.86deg, #FFBF45 9.58%, #FF9C41 90.39%);
}

.heroPets__content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 60vh;
    width: 50%;
    padding-bottom: 4%;
        .heroPets__title{
            font-family: 'Montserrat Black';
            font-size: 40px;
            line-height: 49px;     
            margin-bottom: 2%;      
        }
        .heroPets__description{
            font-family: 'Montserrat Medium';
            font-size: 16px;
            line-height: 16px;    
            width: 70%;    
            margin-bottom: .3%;
        }
        .heroPets__button{
            margin-top: 5%;
            outline:none;
            text-decoration: none;
            justify-content: center;
            align-items: center;
            display: flex;
            cursor: pointer;
            border-radius: 5px;
            background-color: #FF5C5C;
            box-shadow: 0px 9px 50px 0px #ff615c4d;
            height:65px;
            width: 270px;
            font-family: 'Montserrat Bold';
            font-size: 20px;
            line-height: 33px;
            color:#fff;
        }
}
@media screen and (max-width: 1199px) {
    .heroPets__content{
        margin-left: 3.5%;
    }
}

@media screen and (max-width: 991px) {
    .heroPets__content{
        width:70%;
    }
}


@media screen and (max-width: 767px) {
    .heroPets__content{
        width:90%;
    }
    
}

@media screen and (max-width: 575px) {
    .heroPets__content{
        padding-bottom: 7%;
        width:90%;
    }
    .heroPets__content .heroPets__description{
        width: 100%;
    }
    .heroPets__content .heroPets__title{
        font-size: 36px;
        line-height: 40px;
    }
}

@media screen and (max-width: 375px) {
    .heroPets__content .heroPets__button{
        width: 90%;
    }
    .heroPets__content{
        width: 90%;
    }
    .heroPets__content .heroPets__title{
        font-size: 32px;
        line-height: 40px;
    }
    .heroPets__content .heroPets__description{
        font-size: 14px;
        line-height: 14px;
    }
}

