#HeroBlog{
    background: linear-gradient(112.86deg, #FFBF45 9.58%, #FF9C41 90.39%);
}

.heroBlogList__content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 40vh;
    width: 25%;
    padding-bottom: 3%;
        .heroBlog__title{
            font-family: 'Montserrat Black';
            font-size: 40px;
            line-height: 49px;           
        }
        .heroBlog__description{
            font-family: 'Montserrat Medium';
            font-size: 16px;
            line-height: 16px;          
        }
}

@media screen and (max-width: 1199px) {
    .heroBlogList__content{
        margin-left: 3.5%;
    }
}

@media screen and (max-width: 991px) {
    .heroBlogList__content{
        width:70%;
    }
}
