.heroMain{
    background: linear-gradient(112.86deg, #FFBF45 9.58%, #FF9C41 90.39%);
}

.heroContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    .heroOfferConstruction{
        width: 36%;
        .heroOfferConstruction__title{
            font-family: 'Montserrat Black';
            font-size: 40px;
            margin-bottom: 3%;
        }
        .heroOfferConstruction__subTitle{
            font-family: 'Montserrat Medium';
            font-size: 16px;
            line-height: 27px;
            margin-bottom: 9%;
        }
        .heroOfferConstruction__button{
            outline:none;
            cursor: pointer;
            border:0;
            border-radius: 5px;
            background-color: #FF5C5C;
            box-shadow: 0px 9px 50px 0px #ff615c4d;
            height:65px;
            width: 270px;
            font-family: 'Montserrat Bold';
            font-size: 20px;
            line-height: 33px;
            color:#fff;
        }
    }
    .heroImage{
        .heroImage__img{

        }
    }
}

@media screen and (max-width: 1199px) {
    .heroContent{
        justify-content: space-evenly;
        .heroOfferConstruction{
            width: 45%;
        }
    }
}

@media screen and (max-width: 991px) {
    .heroContent{
       display: flex;
       flex-direction: column;
       align-items: center;
        .heroOfferConstruction{
            width: 80%;
            text-align: center;
        }
    }
    .heroContent .heroOfferConstruction .heroOfferConstruction__title{
        margin-bottom: 2%;
    }
    .heroContent .heroOfferConstruction .heroOfferConstruction__subTitle{
        margin-bottom: 3%;
    }
}

@media screen and (max-width: 767px) {
    .heroContent .heroOfferConstruction .heroOfferConstruction__title{
        line-height: 42px;
    }
}

@media screen and (max-width: 575px) {
    .heroContent .heroOfferConstruction{
        width: 90%;
    }
    .heroContent .heroOfferConstruction .heroOfferConstruction__title{
        font-size: 38px;
        line-height: 40px;
    }
}

@media screen and (max-width: 375px) {
    .heroContent .heroOfferConstruction .heroOfferConstruction__button{
        width: 230px;
    }
}