.header{
    position: absolute;
    // margin-top: 3%;
    background-color: transparent;
    width: 100%;
    top: 3%;
}

.headerContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navbar-menu{
        width: 50%;
        .navbar-menu__list{
            display: flex;
            .navbar-menu__item{
                margin-left:7% ;
                .navbar-menu__link{
                    text-decoration: none;
                    font-family: 'Montserrat Medium';
                }
            }
        }
    }
}

.gamb__menu{
    display: none;
}

@media screen and (max-width: 1199px) {
    .headerContent{
        justify-content: space-around;
        .navbar-menu{
            width: 60%;
        }
    }
  }

  
@media screen and (max-width: 991px) {
    .headerContent .navbar-menu{
        display: none;
    }
    .gamb__menu{
        display: block;
    }
    .navbar-logo{
        width: 60%;
    }
  }

  @media screen and (max-width: 375px) {
    .navbar-logo{
        width: 70%;
    }
    .navbar-logo img{
        width: 100%;
    }
  }
  