.HeroBlog{
    background: linear-gradient(112.86deg, #FFBF45 9.58%, #FF9C41 90.39%);
}

.heroBlog__content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 50vh;
    width: 50%;
    padding-bottom: 4%;
        .heroBlog__title{
            font-family: 'Montserrat Black';
            font-size: 40px;
            line-height: 49px;     
            margin-bottom: 2%;      
        }
        .heroBlog__description{
            font-family: 'Montserrat Medium';
            font-size: 16px;
            line-height: 16px;    
            width: 67%;    
        }
}