#HeroBlog{
    background: linear-gradient(112.86deg, #FFBF45 9.58%, #FF9C41 90.39%);
}

.heroBlog__content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 50vh;
    width: 55%;
    padding-bottom: 4%;
        .heroBlog__title{
            font-family: 'Montserrat Black';
            font-size: 40px;
            line-height: 49px;     
            margin-bottom: 2%;      
        }
        .heroBlog__description{
            font-family: 'Montserrat Medium';
            font-size: 16px;
            line-height: 16px;    
            width: 67%;    
        }
}

@media screen and (max-width: 991px) {
    .heroBlog__content{
        margin-left: 2.5%;
    }
    .heroBlog__content{
        width: 65%;
    }
}

@media screen and (max-width: 767px) {
    .heroBlog__content{
        width: 90%;
    }

}
@media screen and (max-width: 575px) {
    .heroBlog__content .heroBlog__title{
        font-size: 36px;
        line-height: 40px;
    }
    .heroBlog__content .heroBlog__description{
        width: 80%;
    }
}


@media screen and (max-width: 375px) {
    .heroBlog__content .heroBlog__title{
        font-size: 28px;
        line-height: 30px;
    }
}
