.petPage__content{
    display: flex;
    justify-content: space-between;
    margin-top: 18%;
    .petPage__ImageBlock{
        width: 39%;
        .petPage__currentPage{
            width: 470px;
            height: 416px;
            border-radius: 10px;
            object-fit: fill;
        }
        .petPage__carousel{
            padding: 10% 0;
            .petImage__card{
                cursor: pointer;
                display: flex;
                justify-content: center;
                margin: 0 0%;
                height: 122px;
                width: 137px;
                -webkit-user-drag: none;
                .petCarousel__img{
                    -webkit-user-drag: none;
                    object-fit: fill;
                    height: 100%;
                    width: 137px;
                    border-radius: 10px;

                }
            }

            .active{
                box-shadow: 2px 3px 8px 0px #FFBF45CC;
            }
            .react-multi-carousel-dot-list{
                bottom: 80%;
            }

            .react-multi-carousel-dot button{
                border:0;
                background-color: #FFBF45;
            }
            .react-multi-carousel-dot--active button{
                background-color: #FF5C5C;
                border:0;
            }
        }
    }
    .petPage__AboutBlock{
        width: 50%;
        .petPage__petName{
            font-family: 'Montserrat Black';
            font-size: 42px;
            line-height: 53px;
        }
        .petPage__mainBlock{
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            .petPage__petCharacteristic{
                width: 50%;
                .petCharacteristic__item{
                    display: flex;
                    margin-bottom: 1%;
                    width: 100%;
                    .petCharacteristic__type{
                        font-family: 'Montserrat Regular';
                        font-size: 18px;
                        line-height: 23px;
                        color: #777777;
                        width: 100%;
                    }
                    .petCharacteristic__answer{
                        font-family: 'Montserrat Regular';
                        font-size: 18px;
                        line-height: 23px;
                        letter-spacing: 0em;     
                        width: 100%;         
                    }
                }
            }
            .petPage__actions{
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                .petPage__button{
                    outline: none;
                    border: 0;
                    cursor: pointer;
                    border-radius: 5px;
                    background-color: #FFBF45;
                    height: 60px;
                    width: 230px;
                    margin-bottom: 5%;
                    font-family: 'Montserrat Bold';
                    font-size: 18px;
                    line-height: 23px;
                }
            }
        }
        .petPage__description{
            margin-top: 7%;
            .petPage__descriptionSubTitle{
                font-family: 'Montserrat ExtraBold';
                font-size: 28px;
                line-height: 35px;      
                margin-bottom: 2%;        
            }
            .petPage__petDescription{
                font-family: 'Montserrat Medium';
                font-size: 18px;
                line-height: 23px;
            }
        }
    }
    .action__popup{
        height: 100vh;
        width: 100vw;
        position: fixed;
        left: 0;
        top: 0%;
        right:0;
        z-index: 9999;
        background-color: #1a1a1a80;
        display: flex;
        align-items: center;
        justify-content: center;
        scrollbar-width: 3px;
        .mainPopup{
            margin: 5% 0;
            background-color: #fff;
            padding: 1% 0;
            height: 750px;
            width: 90%;
            max-width: 1300px;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            border-radius: 10px;
            overflow-y: scroll;
            &::-webkit-scrollbar{
                width: 6px;
                width: 11px;
                border-radius: 20px;
            }
            &::-webkit-scrollbar-track{
                width: 6px;
            }
            &::-webkit-scrollbar-thumb {
                background: #646464;
                border-radius: 30px;
              }
        }
    }
}