.teamComponent{
    position: relative;
}



.teamComponent__content{
    margin-bottom: 5%;
    .teamComponent__title{
        font-family: 'Montserrat Black';
        font-size: 34px;
        line-height: 41px;
    }
    .teamComponent__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .member__card{
            margin:5% 2.4% 0% 2.4%;
            max-width: 230px;
            // min-width: 270px;
            min-height: 290px;
            box-shadow: 4px 3px 15px 0px #00000040;
            background-color: #fff;
            border-radius: 15px;
            .card__media{
                img{
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    width: 220px;
                    height: 200px;
                    object-fit: cover;
                }
            }
            .card__content{
                padding: 2% 2% 5% 5%;
                .card__title{
                    font-family: 'Montserrat ExtraBold';
                    font-size: 18px;
                    line-height: 23px;                
                }
                .card__description{
                    font-family: 'Montserrat Medium';
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
    }
    .teamComponent__action{
        display: flex;
        justify-content: center;
        margin-top: 5%;
        .teamComponent__button{
            cursor: pointer;
            background-color: #FFBF45;
            outline: none;
            border-radius: 5px;
            width: 270px;
            height: 70px;
            font-family: 'Montserrat ExtraBold';
            font-size: 18px;
            line-height: 22px;
        }
    }
    .teamComponent__popup{
        height: 100vh;
        width: 100vw;
        position: fixed;
        left: 0;
        top: 0%;
        right:0;
        z-index: 9999;
        background-color: #1a1a1a80;
        display: flex;
        align-items: center;
        justify-content: center;
        scrollbar-width: 3px;
        .mainPopup{
            margin: 5% 0;
            background-color: #fff;
            padding: 1% 0;
            height: 80%;
            width: 90%;
            max-width: 1300px;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            align-content:flex-start;
            border-radius: 10px;
            overflow-y: scroll;
            .member__card{
                margin:2.5% 2.5% 2.5% 2.5%;
                max-width: 220px;
                min-height: 290px;
                max-height: 300px;
                box-shadow: 4px 3px 15px 0px #00000040;
                background-color: #fff;
                border-radius: 15px;
                .card__media{
                    img{
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;
                        width: 220px;
                        height: 200px;
                        object-fit: cover;
                    }
                }
                .card__content{
                    padding: 2% 2% 5% 5%;
                    .card__title{
                        font-family: 'Montserrat ExtraBold';
                        font-size: 18px;
                        line-height: 23px;                
                    }
                    .card__description{
                        font-family: 'Montserrat Medium';
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
            }
            &::-webkit-scrollbar{
                width: 6px;
                width: 11px;
                border-radius: 20px;
            }
            &::-webkit-scrollbar-track{
                width: 6px;
            }
            &::-webkit-scrollbar-thumb {
                background: #646464;
                border-radius: 30px;
              }
        }
    }
}

@media screen and (max-width: 1199px) {
    .teamComponent__content .teamComponent__list .member__card{
        max-width: 23%;
        margin: 5% 1% 0% 1%;
    }
}

@media screen and (max-width: 991px) {
    .teamComponent__content .teamComponent__list .member__card:last-of-type{
        display: none;
    }
    .teamComponent__content .teamComponent__list .member__card{
        max-width: 31.3%;
    }
    .teamComponent__content .teamComponent__list{
        justify-content: center;
    }
    
}

@media screen and (max-width: 767px) {
    .teamComponent__content .teamComponent__list .member__card:last-of-type{
        display: block;
    }
    .teamComponent__content .teamComponent__list .member__card{
        max-width: 90%;
    }
}
@media screen and (max-width: 575px) {
    .teamComponent__content .teamComponent__list .member__card{
        max-width: 95%;
    }
}


@media screen and (max-width: 375px) {
    .teamComponent__content .teamComponent__action .teamComponent__button{
        width: 90%;
    }
}

